@{
    ViewBag.Title = "About Alan and Maggie's Glorious Garden";
}
<h2>@ViewBag.Title.</h2>


<p>Alan created this website to learn about the MVC framework, Code First with Entity Framework, Bootstrap and other web skills. Having mainly worked with Windows Forms for the last few years he felt the need to brush up</p>
